<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hero's Palace</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

    <header>
        <a href="#" class="logo">TEC-H-ERO</a>
        <nav class="navigation">
            <a href="#Partner">Partners</a>
            <a href="#Contact">Contact</a>
            <a href="#Service">Services</a>
        </nav>
    </header>



    <section class="main">
        <div>
            <h2>Mustafa Yasser<br><span>Programmer</span></h2>
            <h3>The world of Technology.</h3>
            <a href="#projects" class="main-btn"></a>
        </div>
    
    </section>

    <footer class="name">
        <h2>Website made by Mustafa Yasser</h2>
        <h2>Ethical Hacker: Murtadha Mohammed</h2>
        <h2>NOTE: This is a DEMO for educational purposes only</h2>
    </footer>
</body>
</html>